.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.card {
  width: calc(20% - 20px); /* Each card takes up 20% of the width with 20px of margin in between */
  height: 500px;
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 74%);
  border-radius: 15px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.335)); /* x, y, blur, color */
}

.electric {
  background-color: hsl(53, 100%, 53%);
}

.water {
  background-color: hsl(210, 100%, 50%);
}

.fire {
  background-color: hsl(0, 100%, 50%);
}

.grass {
  background-color: hsl(120, 100%, 50%);
}

.ice {
  background-color: hsl(180, 100%, 50%);
}

.rock {
  background-color: hsl(0, 1%, 51%);
}

.ground {
  background-color: hsl(28, 93%, 45%);
}

.flying{
  background-color: hsl(207, 100%, 50%);
}

.psychic {
  background-color: hsl(300, 100%, 50%);
}

.bug {
  background-color: hsl(60, 100%, 50%);
}

.poison {
  background-color: hsl(300, 100%, 50%);
}

.fighting {
  background-color: hsl(0, 0%, 0%);
}

.dark {
  background-color: hsl(0, 0%, 0%);
}

.ghost {
  background-color: hsla(0, 2%, 40%, 0.521);
}

.dragon {
  background-color: hsl(314, 94%, 26%);
}

.fairy {
  background-color: hsla(311, 96%, 67%, 0.483);
}

.normal {
  background-color: hsl(0, 0%, 0%);
}
