header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b5d5d;
  height: 80px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
}

.logo {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}
